{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-console": "off",
    "prettier/prettier": [
      "error", {
        "trailingComma": "all",
        "singleQuote": true
      }
    ]
  }
}
